// Тут зберігаються загальні (повторювані) блоки та загальна структура сайту
// Тобто, блоки, які можна перевикористовувати декілька разів
// на проекті
// title, subtitle та ін.

.wrapper {
	.page {
		// @extend %blockColor;
		// padding-top: rem(200);
		// @include adaptiveValue("padding-top", 200, 100);
		// @include adaptiveValue("padding-bottom", 80, 30);
	}
}



//====================================================================================================

.title {
	font-weight: 700;
	@include adaptiveValue("font-size", 46, 30);
	line-height: 130%;
	color: $colorDark;
}

//====================================================================================================

.circle {
	position: absolute;
	border-radius: 50%;
	opacity: 0.4;
	z-index: 4;
	pointer-events: none;
}

.circle-125 {
	width: 125px;
	height: 125px;
	border: 28px solid #fff;
}

.circle-222 {
	width: 222px;
	height: 222px;
	border: 16px solid #fff;
}

.circle-284 {
	width: 284px;
	height: 284px;
	border: 10px solid #fff;
}

//====================================================================================================

.dots {
	// border: 1px solid #000;
	width: rem(130);
	height: rem(130);
	pointer-events: none;
	position: relative;
	z-index: 4;

	&>div {
		position: absolute;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		opacity: 0.8;
		background-color: red;
	}

	.dots-1 {
		left: 0;
		top: 0;
	}

	.dots-2 {
		left: 17px;
		top: 0;
	}

	.dots-3 {
		left: 34px;
		top: 0;
	}

	.dots-4 {
		left: 51px;
		top: 0;
	}

	.dots-5 {
		left: 68px;
		top: 0;
	}

	.dots-6 {
		left: 85px;
		top: 0;
	}

	.dots-7 {
		left: 102px;
		top: 0;
	}

	.dots-8 {
		left: 0px;
		top: 17px;
	}

	.dots-9 {
		left: 17px;
		top: 17px;
	}

	.dots-10 {
		left: 34px;
		top: 17px;
	}

	.dots-11 {
		left: 51px;
		top: 17px;
	}

	.dots-12 {
		left: 68px;
		top: 17px;
	}

	.dots-13 {
		left: 85px;
		top: 17px;
	}

	.dots-14 {
		left: 102px;
		top: 17px;
	}

	.dots-15 {
		left: 0px;
		top: 34px;
	}

	.dots-16 {
		left: 17px;
		top: 34px;
	}

	.dots-17 {
		left: 34px;
		top: 34px;
	}

	.dots-18 {
		left: 51px;
		top: 34px;
	}

	.dots-19 {
		left: 68px;
		top: 34px;
	}

	.dots-20 {
		left: 85px;
		top: 34px;
	}

	.dots-21 {
		left: 102px;
		top: 34px;
	}

	.dots-22 {
		left: 0;
		top: 51px;
	}

	.dots-23 {
		left: 17px;
		top: 51px;
	}

	.dots-24 {
		left: 34px;
		top: 51px;
	}

	.dots-25 {
		left: 51px;
		top: 51px;
	}

	.dots-26 {
		left: 68px;
		top: 51px;
	}

	.dots-27 {
		left: 85px;
		top: 51px;
	}

	.dots-28 {
		left: 102px;
		top: 51px;
	}

	.dots-29 {
		left: 0;
		top: 68px;
	}

	.dots-30 {
		left: 17px;
		top: 68px;
	}

	.dots-31 {
		left: 34px;
		top: 68px;
	}

	.dots-32 {
		left: 51px;
		top: 68px;
	}

	.dots-33 {
		left: 68px;
		top: 68px;
	}

	.dots-34 {
		left: 85px;
		top: 68px;
	}

	.dots-35 {
		left: 102px;
		top: 68px;
	}

	.dots-36 {
		left: 0;
		top: 85px;
	}

	.dots-37 {
		left: 17px;
		top: 85px;
	}

	.dots-38 {
		left: 34px;
		top: 85px;
	}

	.dots-39 {
		left: 51px;
		top: 85px;
	}

	.dots-40 {
		left: 68px;
		top: 85px;
	}

	.dots-41 {
		left: 85px;
		top: 85px;
	}

	.dots-42 {
		left: 102px;
		top: 85px;
	}

	.dots-43 {
		left: 0;
		top: 102px;
	}

	.dots-44 {
		left: 17px;
		top: 102px;
	}

	.dots-45 {
		left: 34px;
		top: 102px;
	}

	.dots-46 {
		left: 51px;
		top: 102px;
	}

	.dots-47 {
		left: 68px;
		top: 102px;
	}

	.dots-48 {
		left: 85px;
		top: 102px;
	}

	.dots-49 {
		left: 102px;
		top: 102px;
	}
}

//====================================================================================================

.subtitle {
	font-weight: 700;
	font-size: rem(16);
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $colorDark;
}

//==========================================courses==========================================================
.item-courses {
	border: 1px solid #E5E8ED;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
		0px 30px 24px -10px rgba(154, 156, 165, 0.05),
		0px 12px 10px -6px rgba(154, 156, 165, 0.04),
		0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
}

//=========================================courses===========================================================

.top-btn {
	padding: rem(2) rem(8);
	font-weight: 400;
	font-size: rem(14);
	line-height: 150%;
	color: #FFFFFF;
	border-radius: 4px;
	align-self: flex-start;
	border: 1px solid transparent;
	transition: all 0.3s ease 0s;

	@media (any-hover:hover) {
		&:hover {
			cursor: pointer;
			background-color: transparent;
		}
	}
}

//==========================================courses==========================================================

.top-btn-marketing {
	background-color: #03CEA4;

	@media (any-hover:hover) {
		&:hover {
			color: #03CEA4;
			border: 1px solid #03CEA4;
		}
	}
}

.top-btn-management {
	background-color: #5A87FC;

	@media (any-hover:hover) {
		&:hover {
			color: #5A87FC;
			border: 1px solid #5A87FC;
		}
	}
}

.top-btn-hr {
	background-color: #F89828;

	@media (any-hover:hover) {
		&:hover {
			color: #F89828;
			border: 1px solid #F89828;
		}
	}
}

.top-btn-design {
	background-color: #F52F6E;

	@media (any-hover:hover) {
		&:hover {
			color: #F52F6E;
			border: 1px solid #F52F6E;
		}
	}
}

.top-btn-development {
	background-color: #7772F1;

	@media (any-hover:hover) {
		&:hover {
			color: #7772F1;
			border: 1px solid #7772F1;
		}
	}
}


//=======================================courses=============================================================

.center-text {
	font-weight: 700;
	@include adaptiveValue("font-size", 20, 14);
	line-height: 150%;
	color: $colorDark;

	@media (any-hover:hover) {
		&:hover {
			transition: all 0.3s ease 0s;
			cursor: pointer;
			transform: scale(1.1);
		}
	}
}

//===================================courses=================================================================

.bottom-price {
	font-weight: 400;
	font-size: rem(18);
	line-height: 150%;
	color: #787A80;

	& span {
		font-weight: 700;
		font-size: rem(18);
		line-height: 150%;
		color: #FF4242;
	}
}

//===============================lections=====================================================================

.item-lections-list {
	@include adaptiveValue("padding-top", 32, 20);
	@include adaptiveValue("padding-bottom", 32, 20);
	@include adaptiveValue("padding-left", 40, 20);
	@include adaptiveValue("padding-right", 40, 20);
	width: 100%;
	background-color: #fff;
	display: flex;
	border-radius: 4px;

	@media (any-hover:hover) {
		&:hover {
			cursor: pointer;
			box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
		}
	}

	@media (max-width:$mobile) {
		flex-direction: column;
		// align-items: center;
	}
}

.date-list {
	min-width: rem(200);
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(2, 1fr);
	column-gap: rem(20);
	row-gap: rem(4);

	@media (max-width:$mobile) {
		align-self: center;
		gap: 0;
	}
}

.number-list {
	font-weight: 900;
	@include adaptiveValue("font-size", 48, 36);
	line-height: 130%;
	letter-spacing: 1px;
	color: $linkColor;
	grid-row: 1 / 3;
	align-self: center;
}

.month-list {
	font-weight: 700;
	@include adaptiveValue("font-size", 20, 16);
	line-height: 150%;
}

.time-list {
	font-weight: 400;
	@include adaptiveValue("font-size", 16, 12);
	line-height: 160%;
	color: #787A80;
	// align-self: flex-end;
}

.text-lections-list {
	@include adaptiveValue("padding-left", 20, 10);
	@include adaptiveValue("padding-right", 20, 10);
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: rem(4);

	@media (max-width:$mobile) {
		padding: 0;
	}
}

.title-list {
	font-weight: 700;
	@include adaptiveValue("font-size", 20, 16);
	line-height: 150%;
}

.subtitle-list {
	font-weight: 400;
	@include adaptiveValue("font-size", 16, 12);
	line-height: 160%;
	color: #787A80;
}

//================================slider-big======================

.slider-big {
	overflow: hidden;
	object-fit: cover;
	position: relative;
	background-color: #F4F5F7;

	&__container {}
}

.bottom-team {
	position: relative;
	@include adaptiveValue("padding-top", 40, 20);
	@include adaptiveValue("padding-bottom", 100, 20);

	&__subtitle {
		text-align: center;
	}

	&__title {
		text-align: center;
		@include adaptiveValue("margin-bottom", 60, 20);
	}

	&__slider {
		width: 82%;
		margin: 0 auto;

		@media (max-width:$mobile) {
			width: 100%;
		}
	}

	&__wrapper {}

	&__slide {

		background-color: #fff;
		box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
		border-radius: 4px;
		@include adaptiveValue("padding-top", 64, 20);
		@include adaptiveValue("padding-bottom", 64, 20);
		@include adaptiveValue("padding-left", 163, 20);
		@include adaptiveValue("padding-right", 105, 20);
	}

	&__swiper-button-prev {
		position: absolute;
		top: 60%;
		left: 0;

		@media (max-width:$mobile) {
			display: none;
		}
	}

	&__swiper-button-next {
		position: absolute;
		top: 60%;
		right: 0;

		@media (max-width:$mobile) {
			display: none;
		}
	}
}

.swiper-slide-bottom {

	&__text {
		font-weight: 400;
		font-size: rem(20);
		line-height: 150%;
		margin-bottom: rem(24);
		position: relative;

		&::before,
		&::after {
			content: '';
			background-image: url(../img/team/ic.svg);
			position: absolute;
			top: 8px;
			width: 10px;
			height: 20px;

			@media (max-width:$mobileSmall) {
				display: none;
			}
		}

		&::before {
			left: -30px;

			@media (max-width: em(580)) {
				left: -18px;
			}
		}

		&::after {
			left: -58px;

			@media (max-width: em(580)) {
				left: -36px;
			}
		}
	}

	&__info {
		display: flex;
		align-items: center;
		gap: rem(20);
	}

	&__logo-ibg {
		width: 72px;
		height: 72px;
		border-radius: 50%;
	}

	&__name {}

	&__top {
		font-weight: 700;
		font-size: rem(16);
		line-height: 160%;
		margin-bottom: rem(4);
	}

	&__down {
		font-size: rem(14);
		line-height: 150%;
		color: #787A80;
	}
}

.swiper-pagination {}

.swiper-pagination-bullet {
	width: 30px;
	height: 0px;
	background-color: #5a5e6d;
	border: 1px solid #5a5e6d;

	@media (any-hover:hover) {
		&:hover {
			cursor: pointer;
		}
	}
}

.swiper-pagination-bullet-active {
	border: 1px solid $linkColor;
	background-color: $linkColor;
}

.swiper-pagination-bottom {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: rem(12);
	position: absolute;
	left: 0;
	@include adaptiveValue("bottom", 60, 10);
	// bottom: rem(-60);
}

.slider-big {

	&__3-1 {
		position: absolute;
		top: prc(300, 1570);
		left: prc(1170, 1920);
		pointer-events: none;
	}

	&__3-2 {
		position: absolute;
		top: prc(300, 1570);
		left: prc(1210, 1920);
		pointer-events: none;
	}

	&__3-3 {
		position: absolute;
		top: prc(300, 1570);
		left: prc(1242, 1920);
		pointer-events: none;
	}

	&__4-1 {
		position: absolute;
		top: prc(84, 1570);
		left: prc(204, 1920);
		pointer-events: none;
	}

	&__circle {}

	&__dots {
		&>div {
			background-color: #fff;
		}
	}
}

.slider-big-circle-125 {
	position: absolute;
	top: prc(440, 1570);
	left: prc(180, 1920);
	pointer-events: none;
}

.slider-big-circle-222 {
	position: absolute;
	top: prc(385, 1570);
	left: prc(115, 1920);
	pointer-events: none;
}

.slider-big-circle-284 {
	position: absolute;
	top: prc(349, 1570);
	left: prc(75, 1920);
	pointer-events: none;
}

.slider-big-circle-222-bottom {
	position: absolute;
	bottom: -75px;
	right: -111px;
	pointer-events: none;
}

.slider-big-circle-284-bottom {
	position: absolute;
	bottom: -95px;
	right: -142px;
	pointer-events: none;
}

.slider-big-dots-bottom {
	position: absolute;
	bottom: prc(20, 1570);
	left: prc(240, 1920);
	pointer-events: none;
	transform: rotate(90deg);
}


//==========================================swiper==========================================================

.swiper-button-prev,
.swiper-button-next {
	color: #000;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease 0s;

	@media (any-hover:hover) {
		&:hover {
			color: #fff;
			background-color: $linkColor;
		}
	}
}

.swiper-button-next {
	transform: rotate(180deg);
}

//===============================form=====================================================================

.img-form {
	min-width: prc(340, 1920);
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;

	&__content {
		// height: 50%;
		flex: 1 1 auto;
	}

	&__caps {
		height: 15%;
		display: flex;
		position: relative;
	}

	&__cap-1 {
		position: absolute;
		left: 0;
		top: -40px;
	}

	&__cap-2 {
		position: absolute;
		left: 50px;
		top: 0;
	}

	&__cap-3 {
		position: absolute;
		left: 120px;
		top: -60px;
	}

	&__cap-4 {
		position: absolute;
		right: 30px;
		top: 60px;
	}

	&__cap-5 {
		position: absolute;
		right: -50px;
		top: 0;
	}

	&__hands {
		height: 30%;
		display: flex;
		align-items: flex-end;
	}

	&__hand-1 {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	&__hand-2 {
		position: absolute;
		left: 50px;
		bottom: 0;
	}

	&__hand-3 {
		position: absolute;
		left: 110px;
		bottom: 0;
	}

	&__hand-4 {
		position: absolute;
		left: 180px;
		bottom: 35px;
	}

	&__hand-4-1 {
		position: absolute;
		left: 170px;
		bottom: 0;
	}

	&__hand-5 {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

//======================footer==================================

.spollers__title {
	font-weight: 700;
	font-size: rem(16);
	line-height: 150%;
	align-items: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;

	._spoller-init & {

		&::before,
		&::after {
			background-color: #fff;
		}
	}
}

//==================Page course==block about==================================


.about-top {
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $colorDark;
}

.about-center {
	font-weight: 700;
	font-size: rem(24);
	line-height: 130%;
	color: $linkColor;
	padding: rem(4) rem(0) rem(8) rem(0);
}

.about-bottom {
	font-size: rem(16);
	line-height: 160%;
	color: #787A80;
}

//============================Page post==================================

.share {
	display: flex;
	align-items: center;
	gap: rem(12);

	& p {
		line-height: 160%;
		color: $colorDark;
	}

	._icon-facebook,
	._icon-twitter,
	._icon-in {
		@media (any-hover:hover) {
			&:hover {
				cursor: pointer;

				&::before {
					color: $advansedColor;
				}
			}
		}
	}
}