// !Можливість використання вбудованого модуля "math"
@use "sass:math";

// !Підключення міксинів====================
@import "base/mixins";

// !Підключення шрифтів=====================
//&display=swap - додати до шрифтів, які підключаються через плагін
//Ctrl+Shift+P --> google fonts css import. Приклад підключення нижче
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);


// Підключення локального файлу шрифтів
//@import "fonts/fonts";

// Підключення іконочного шрифту
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// !Оголошуємо змінні===================
// Шрифт за замовчуванням
$fontFamily: "Lato";
$fontSize: rem(16);
$fontWeight: 400;

//Основні кольори
$mainColor: #000;
$background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
$advansedColor: rgba(255, 63, 58, 1);
$linkColor: #FD4A29;
$textColor: #424551;
$colorDark: #1E212C;

%blockColor {
	background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

// @extend %blockColor;

// !Налаштування адаптивної сітки===============
// Мініиальна ширина сторінки
$minWidth: 320;
// Ширина полотна (ширина всієї сторінки по макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1230;
// Загальний відступ у контейнера
// (30 = по 15рх справа і зліва, 0 = немає відступів
$containerPadding: 30;

// Ширина спрацювання першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейкпоінти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети в горизонтальному вигляді
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// !Тип адаптиву
// 1 = отзывчивость (у контейнера немає брейкпоінтів)
// 2 = по брейкпоінтам (контейнет міняє ширину по брейкпоінтам)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// !Обнулення стилів ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: $fontWeight;

	// Заблокований скрол
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	// Сайт завантажений
	&__loaded {}
}

// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;

	// Прижимаемо footer
	>main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

// !Обмежуючий контейнер=================================================
// Стилі будуть застосовані до всіх класів, які містять "__container"
// Наприклад "header__container", "main__container"

@if ($responsiveType==1) {

	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
}

@else {

	//По брейкпоінтам
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: rem(970);
		}

		@media (max-width: $tablet) {
			max-width: rem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// !На випадок, якщо потрібно ще один контейнер. Назву треба змінити
// Наприклад "__container-small". Відповідно, вказуємо його ширину
// [class*="__container-small"] {
// 	max-width: rem(1420);
// 	margin: 0 auto;

// }

//================================

// Підключення базових стилів, шаблонів (заготовок) та 
// допоміжних класів 
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків сторінки
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";
@import "courses";
@import "course";
@import "events";
@import "event";
@import "about";
@import "blog";
@import "post";
@import "contacts";

//================================